html {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
}

h1 {
  text-transform: uppercase;
  letter-spacing: .3em;
  font-size: 1.5rem;
  color: #2e4d43;
}

.job-title {
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: 1rem;
  font-weight: 700;
  color: #2e4d43;
}

.main-text {
  font-size: .9rem;
  line-height: 1.6em;
  letter-spacing: .015rem;
  color: rgba(51, 51, 51, .6);
  max-width: 800px;
}

.resize {
  max-width: 800px;
  height: auto;
}

footer {
  color: rgba(51, 51, 51, .6);
  font-size: .8rem;
  text-align: center;
  font-style: normal;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.social {
  color: #2e4d43;
}

a:hover {
  color: #728778;
}

.subtitle {
  color: #2e4d43;
}
