html {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
}

h1 {
  text-transform: uppercase;
  letter-spacing: .3em;
  font-size: 1.5rem;
}

.job-title {
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: 1rem;
  font-weight: 700;
}

.main-text {
  font-size: .90rem;
  line-height: 1.6em;
  letter-spacing: .015rem;
  color: rgba(51, 51, 51, .6);
  width: 700px;
}

.resize {
  width: 700rem;
  height: auto;
}

footer {
  color: rgba(51, 51, 51, .6);
  font-size: .80rem;
  text-align: center;
  font-style: normal;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.social {
  color: rgba(51, 51, 51, .6);
}
